<p id="notice"><%= notice %></p>
 <!--Content Starts Here-->
<div class="gallery-fix"></div>
<%= render partial: "layouts/topmenu" %>
<%= render partial: "layouts/bottom_menu" %>

    <div class="content">

        <h4 align="center">Redemption image gallery</h4>
        <div class="clear"></div>
        <div class="decoration"></div>

        <div class="portfolio-adaptive">
            <% @image_galleries.each do |image_gallery| %>
	            <div class="adaptive-item col-xs-12 col-sm-4 col-md-4">
	                <%=link_to image_gallery do%>
	                    <%= image_tag(image_gallery.avatar.url(:medium), class:"responsive-image") %>
	                <% end %>
	                <%=link_to "Details", image_gallery, class: "btn btn-xs btn-block "%>
	                <legend></legend>
	            </div>
	        <% end %>
    	</div>
        <p><%= paginate @image_galleries%></p>
    	<div class="decoration"></div>
    </div>

