<!DOCTYPE html>
<html>
<head>
  <title>RCC Kampala</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="transparent">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  .g
  {
    background-color: #16A085;
  }
  .bg
  {
    /*background: url("/assets/redemption.jpg");*/
    background-color: #efefef;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  </style>
</head>
<body class="bg">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<div style="display: none;" id="preloader">
	<div style="display: none;" id="status">
    	<p class="center-text">
			   Loading the content...
            <em>Loading depends on your connection speed!</em>
      </p>
    </div>
</div>
<div class="all-elements">
    <div class="header nav-down g">
        <%= link_to  root_path, class:"header-logo", style: "color:#ffffff; font-size: 15px;" do %>REDEMPTION CITY CHURCH<% end %>

        <div class="header-icons">
            <a class="bg-green2 show-share-bottom" href="#"><i class="fa fa-linkedin"></i></a>
            <a class="twitter-color" href="#"><i class="fa fa-twitter"></i></a>
            <a class="facebook-color" href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <div style="padding-bottom:20px;">
          <input class="blog-search" value="Search caregroup..." type="text">
        </div>
        <div class="decoration"></div>
    </div>
</div>
<div class="header-clear"></div>
    <!-- Left Top Menu -->
<%= yield %>

</body>
</html>
